# Data Science Tools and Ecosystem

## **Author:**

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- List commonly used libraries by Data Scientists
- List popular languages among Data Scientists
- Explore evaluating arithmetic expressions using Python

### Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

### Some of the commonly used libraries used by Data Scientists include::
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
|---------------------|
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [39]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [40]:
# This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335